.header-menu {
    background-color: #339966 !important;
}

.header-menu {
    background-image: none;
    border: none;
    border-radius: 0;
}

.header-menu .nav-link {
    color: white;
}

.header-menu .nav-item {
    background-color: transparent;
}

.header-menu .nav-item:hover {
    background-color: #1d1d1d;
}

/*.header-menu a:hover {*/
    /*color: #cacaca;*/
    /*background-color: transparent;*/
/*}*/