html, body {
    height: 100%;
}

#main-wrap {
    min-height: 100%;
}

#main {
    overflow:auto;
    /*padding-bottom:150px;*/
}

#footer {
    position: relative;
    /*margin-top: -150px;*/
    /*height: 150px;*/
    /*clear:both;*/
    /*padding-top:20px;*/
}
